*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bbh-sans-bartle-regular {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
    background: black;
    color: white;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;

}
header{
    top: 0;
    height: 5rem;
}
nav{
    display: flex;
    padding-right: 2rem;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}
ul{
    display: flex;
    list-style: none;
    gap: 100px;
    
}
.arena-logo{
     font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.arena-logo span{
    color: #3CFC46;
}